DOMAIN="http://localhost:3000/"
APP_ENV="development"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# docker or neon
DATABASE_ENV="docker"
# prisma database
DATABASE_URL=""
DIRECT_URL=""
# next auth secret
AUTH_SECRET=""
# google login service
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
# stripe service
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=""